---
// Load layout
import QuoteLayout from '../../layouts/QuoteLayout.astro';

const allPosts = Object.values(
  import.meta.glob("./quotes/*.md", { eager: true })
);
const { slug } = Astro.params;

const quote = quotes.find(q => q.file.split('/').pop().replace('.md', '') === slug);

if (!quote) {
  return Astro.redirect('/404');
}

const { Content, frontmatter } = quote;
---

<QuoteLayout title={frontmatter.title}>
  <article>
    <blockquote>
      <Content />
    </blockquote>
    <p><strong>Author:</strong> {frontmatter.author}</p>
    <p><strong>Bibliography:</strong> {frontmatter.bibliography}</p>
    <p><strong>Thoughts:</strong> {frontmatter.thoughts}</p>
    <p><strong>Date Published:</strong> {frontmatter.date}</p>
  </article>
</QuoteLayout>
