---
import DirectoryLayout from "../layouts/DirectoryLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import ImageCard from "../components/ImageCard.astro";

const allPosts = Object.values(
  import.meta.glob("../pages/poetry/*.md", { eager: true })
);
---

<MainLayout class="layout">
  <DirectoryLayout title="Poetry">
    <p>“A poem begins as a lump in the throat, a sense of wrong, a homesickness, a lovesickness.”<br/>― Robert Frost</p>
    <ul>
      {
        allPosts.map((post: any) => (
          <li>
            <article>
              <h2>
                <a href={post.url}>{post.frontmatter.title}</a>
              </h2>
              <p><small>Published on {post.frontmatter.date}</small></p>
              <p><small>By {post.frontmatter.poet}</small></p>
              <p>{post.frontmatter.description}</p>
              <a href={post.url}>Read more →</a>
            </article>
          </li>
        ))
      }
    </ul>
  </DirectoryLayout>
</MainLayout>

<style>
  article {
    margin: 30px 0;
    padding: 20px 0;
  }
</style>