---
import Button from "../components/Button.astro";
const { title, poet, date, image, frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/svg/favicon.svg" />
    <title>Quotes</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>

  <body>
    <main>
      <article>
        {
          (
            <div class="quote-container">
              <div class="quote-item">
                <div class="quote-title">{frontmatter.title}</div>
                <div class="quote-text">“ {frontmatter.quote} ”</div>
                <div class="quote-author">— {frontmatter.author}</div>
                <div class="quote-bibliography">{frontmatter.bibliography}</div>
              </div>
              <div class="quote-thoughts">{frontmatter.thoughts}</div>
            </div>
          )
        }
      </article>
    </main>

    <ul class="link">
      <Button text="Back" link="/quotes" />
    </ul>
  </body>
</html>

<style>
  body {
    background: #f9f9f8;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    max-width: 100vb;
    max-height: 100vh;
  }

  .quote-title {
    font-size: 1.5rem;
    font-family: "lapture", serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #6c7a89;

  }

  blockquote {
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: #0d1b2a;
  }

  .quote-text {
    font-family: "Palatino Linotype";
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    color: #0d1b2a;
  }

  .quote-author {
    text-align: right;
    font-size: 0.9rem;
    line-height: 1.4;
    font-family: "Libre Baskerville", Georgia, serif;
    margin-left: 1rem;
  }
  .quote-bibliography {
    font-style: italic;
    margin: 0;
    color: #333;
  }

  .quote-thoughts {
    max-width: 300px;
    margin-left: auto;
    font-size: 0.85rem;
    line-height: 1.5;
    color: #6c7a89;
  }

  .link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 1.2rem;
  }
</style>
